{% extends "backend/layouts/master.twig" %}
{% block content %}
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Dashboard</h3>
        <span>Welcome back Mr.John Doe</span>
    </div><!-- /page-title -->

</div><!-- /main-header -->
{% endblock %}